body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-page);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--bg-page);
}

::-webkit-scrollbar-thumb {
    background-color: var(--el-color-primary);
    border-radius: 2px;
    cursor: pointer;
}
#app {
    --padding-secondary: 0.75rem; // 内容区padding
    --content-gap: 0.6rem; // 内容区gap
    --rest-space: calc(
        100% - (var(--card-columns) - 1) * var(--content-gap) - var(--padding-secondary) * 2
    ); // 剩余空间
}
.bookmark-page {
    --padding: calc(var(--padding-primary) * 1.25);
    padding: var(--padding);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    width: calc(100% - var(--padding) * 2);
    height: calc(100% - var(--padding) * 2);
    background-color: var(--bg-page);
}
// 响应式样式
@media screen and (max-width: 578px) and (min-width: 320px) {
    #app {
        --card-columns: 2; // 卡片列数
        --extra-space: 0.625rem; // 额外空间
        .book-footer {
            .el-pagination__sizes,
            .el-pagination__jump {
                display: none !important;
            }
        }
    }
}
@media screen and (max-width: 836px) and (min-width: 578px) {
    #app {
        --card-columns: 3;
        --extra-space: 0.75rem;
    }
}
@media screen and (max-width: 1094px) and (min-width: 836px) {
    #app {
        --card-columns: 4;
        --extra-space: 0.75rem;
    }
}
@media screen and (max-width: 1352px) and (min-width: 1094px) {
    #app {
        --card-columns: 5;
        --extra-space: 0.875rem;
    }
}
@media screen and (min-width: 1353px) {
    #app {
        --card-columns: 6;
        --extra-space: 1rem;
    }
}
.custom-tree-node {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .tree-node-label {
        padding-left: 0.25rem;
    }
}
//element-plus样式修改
.el-popper[role="tooltip"] {
    max-width: 20rem;
    &.el-select__popper {
        max-width: 100%;
    }
}
.el-form {
    width: 100%;
    padding: 0.5rem 0;

    .el-select,
    .el-input-number {
        width: 100%;
    }
}
.el-popper.el-dropdown__popper {
    background: var(--bg-card) !important;
    color: var(--text-muted);
    border: 1px solid var(--bg-card);
    .el-dropdown__list,
    .el-dropdown-menu {
        .el-dropdown-menu__item {
            color: var(--text-muted);
        }
    }
    .el-dropdown-menu__item:not(.is-disabled):focus {
        background-color: var(--el-color-primary-hover);
        color: var(--el-color-primary);
    }
}
.el-popper.el-select__popper {
    background-color: var(--bg-card);
    color: var(--text-primary);
    border: 1px solid var(--bg-card) !important;
    // .el-select-dropdown__item:hover,
    // .el-select-dropdown__item.hover {
    //     background-color: var(--bg-hover);
    // }
}
.el-popper.el-select__popper.el-tree-select__popper {
    .el-tree,
    .el-select-dropdown.el-tree-select__popper {
        background-color: var(--bg-card);
        color: var(--text-primary);
    }
    .el-tree-node__content:hover {
        background-color: var(--bg-hover);
    }
}
.el-popper:not(.el-popper[role="tooltip"]) .el-popper__arrow:before {
    background: var(--bg-card) !important;
    border: 1px solid var(--bg-card) !important;
}
