:root {
    --el-color-primary: #409eff;
    --el-color-primary-hover: #409eff33;

    --border-radius: 4px;
    --gap: 4px;
    --card-icon-size: 2rem;
    --padding-primary: 1rem;
    --padding-secondary: 0.75rem;
    --padding-tertiary: 0.5rem;

    --bg-sidebar: lab(97.0913% -0.307769 -1.47733);
    --bg-hover: lab(91.8523% -0.891835 -4.41418);

    --bg-page: #fff;

    --bg-page-secondary: lab(94.1868% -0.457764 -2.21365);

    --bg-card: lab(100% 0 0);
    --bg-card-disabled: #eee;

    --text-primary: #172029;
    --text-secondary: #fff;
    --text-active-primary: var(--color-primary);
    --text-muted-secondary: lab(16.4313% -0.972167 -5.78371);
    --text-muted: lab(60.5313% -0.87291 -4.40395);
    --text-sidebar: lab(36.1604% -1.02216 -5.4705);
    --text-sidebar-hover: var(--text-primary);

    --border-color: lab(88.3821% -0.604183 -2.94807);

    --shadow-color: rgba(0, 0, 0, 0.2);

    --shadow-active-color: rgba(0, 0, 0, 0.3);

    --input-shadow-form: rgba(0, 0, 0, 0.15);
    --input-bg-form:var(--bg-card);
    --input-bg-disabled:var(--bg-page-secondary);
}
html[data-theme="dark"] {
    --text-primary: #adbac7;

    --bg-sidebar: #1a1a2e;
    --bg-hover: lab(18.7359% -1.15503 -7.2063);

    --bg-page: #0b0f14;

    --bg-page-secondary: #111827;

    --bg-card: #161b22;
    --bg-card-disabled: #303133;

    --text-primary: #eceff2;
    --text-secondary: #fff;
    --text-active-primary: var(--color-primary);
    --text-muted-secondary: lab(16.4313% -0.972167 -5.78371);
    --text-muted: lab(60.5313% -0.87291 -4.40395);
    --text-sidebar: lab(65.1715% -0.876606 -4.40595);
    --text-sidebar-hover: lab(94.1891% -0.3829 -1.84566);

    --border-color: lab(100% 0 0 / 0.08);

    --shadow-color: rgba(0, 0, 0, 0.3);
    --shadow-active-color: rgba(64, 158, 255, 0.75);

    --input-shadow-form: rgba(64, 158, 255, 0.5);
    --input-bg-form:var(--bg-card);
    --input-bg-disabled:var(--bg-page-secondary);
}
