body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #ddd;
    z-index: 999;
}

::-webkit-scrollbar-thumb {
    background-color: #409eff;
    border-radius: 2px;
    cursor: pointer;
}

// 响应式样式
@media screen and (max-width: 319px) {
    .book-content {
        .bookmark-card {
            width: 100% !important;
        }
    }
}
@media screen and (max-width: 376px) and (min-width: 320px) {
    .book-content {
        padding: 0.75rem !important;
        gap: 0.5rem !important;
        .bookmark-card {
            width: 43% !important;
        }
    }
}
@media screen and (max-width: 527px) and (min-width: 377px) {
    .book-content {
        padding: 0.75rem !important;
        gap: 0.6rem !important;
        .bookmark-card {
            width: 44% !important;
        }
    }
}
@media screen and (max-width: 677px) and (min-width: 527px) {
    .book-content {
        padding: 0.75rem !important;
        gap: 0.8rem !important;
        .bookmark-card {
            width: 45% !important;
        }
    }
}
@media screen and (max-width: 827px) and (min-width: 677px) {
    .book-content {
        padding: 0.8rem !important;
        gap: 1rem !important;
        .bookmark-card {
            width: 29% !important;
        }
    }
}
@media screen and (max-width: 977px) and (min-width: 827px) {
    .book-content {
        padding: 0.6rem !important;
        gap: 0.6rem !important;
        .bookmark-card {
            width: 22% !important;
        }
    }
}
@media screen and (max-width: 1127px) and (min-width: 977px) {
    .book-content {
        padding: 0.85rem !important;
        gap: 0.85rem !important;
        .bookmark-card {
            width: 17% !important;
        }
    }
}
@media screen and (max-width: 1252px) and (min-width: 1127px) {
    .book-content {
        padding: 0.85rem !important;
        gap: 0.85rem !important;
        .bookmark-card {
            width: 14% !important;
        }
    }
}
@media screen and (min-width: 1253px) {
    .book-content {
        padding: 0.75rem !important;
        gap: 0.75rem !important;
        .bookmark-card {
            width: 14.5% !important;
        }
    }
}
